
.card
  width: 90px
  height:150px
  border: 1px solid black
  background-color: red

#foundation
  display: flex
  width: 400px
  justify-content: space-between

  .foundation-pile
    width: 90px
    height:150px
    border: 1px solid black